nav{
    background-color:rgb(61, 61, 159);
    padding: 10px;
}
 
caption, thead{
    color: red;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

body{
    margin: 0px;
    background-color: rgb(214, 202, 185);
    font-family: "Playwrite AU NSW", cursive;
}
 
footer{
    text-align: center;
    font-family: "Playwrite AU NSW", cursive;
    position: relative;
}

.linav{
    padding-right: 30px;
}

.tablecontainer{
    display: flex;
    justify-content: center;
}

.ulnav{
    display: flex;
    list-style-type: none;
}

.anav{
    color: white;
    text-decoration: none;
}

table{
    margin: 40px;
    border: 2px solid black;
}

.titlecontainer{
    color: white;
    text-align: center;
    font-size: 20px;
}

.pcontainer{
    color: black;
    text-align: center;
    font-size: 20px;
}